body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("file:///C:/Users/zovta/Desktop/KeriSite/style/images/pngwingcom.png");
    background-size: cover;
    background-position: center;
}

/* Position the "No" button absolutely within body */
#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    /* Smooth movement */
}

#yesButton {
    position: absolute;
    margin-right: 150px;
    /* Smooth movement */
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 0px;
    /* optional: adds some space between the buttons */
}

.btn {
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    padding: 30px 60px;
    font-size: 20px;
    margin: -200px -200px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
.btn:focus,
.btn:active {
    background-color: #FFB6C1 !important; /* Застосовуйте !important, щоб перевизначити існуючі стилі */
    color: white; /* Додайте колір тексту, якщо потрібно */
    /* Додайте будь-які інші стилі, що вам потрібні */
}

.btn:hover {
    background-color: #FFB6C1;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
    
    
}

.text {
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
.gif_container img {
    width: 50%; /* Змініть це значення на бажаний розмір ширини */
    height: auto; /* Автоматично обчислює висоту для збереження пропорцій */
}
.secImg img{
    width: 150%; /* Змініть це значення на бажаний розмір ширини */
    height: auto;
}
.text2 {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}